* {
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-weight: lighter;
}

:root {
  --primary-text-color: #291B1A; 
  --secondary-text-color: #573A37;
  --background-color: #F0E8C2;

  font-family: "Alice", serif;
  color: var(--secondary-text-color);
  font-size: 16;
}

body {
  background-image: url("assets/bg-image.png");
  background-size: cover;
}

main {
  padding: 24px;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: var(--background-color);
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
  /*display: flex;
  flex-direction: column;*/
}

section + section {
  margin-top: 24px;
}

img {
  border-radius: 16px;
  /*align-items: center;
  justify-content: center;*/
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

#about p + p {
  margin-top: 12px;
}

ul {
  padding-left: 24px;
}