:root {
  --primary-text-color: #291B1A; 
  --secondary-text-color: #573A37;
  --background-color: #F0E8C2;

  font-family: "Alice", serif;
  line-height: 150%;
  color: var(--secondary-text-color);
  font-size: 16;
}

body {
  background-image: url("assets/bg-image.png");
  background-size: cover;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: var(--background-color);
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
  /*display: flex;
  flex-direction: column;*/
}

img {
  border-radius: 16px;
  
  /*align-items: center;
  justify-content: center;*/
}

h1 {
  line-height: 140%;
  font-size: 40;
}

h2 {
  font-size: 24;
}

h1, h2 {
  color: var(--primary-text-color);
}