* {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

:root {
  --surface-color: #F0E8C2;
  --background-color: #573824;

  --text-color-primary: #291B1A; 
  --text-color-secondary: #573A37;
  --text-color-on-background: #F0E8C2;

  font-family: "Alice", serif;
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 150%;
}

body {
  background-image: url("assets/bg-image.png");
  background-size: cover;
}

main {
  padding: 24px;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: var(--surface-color);
  border-radius: 24px;
  margin: 48px auto 28px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

section + section {
  margin-top: 24px;
}

img {
  border-radius: 16px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: var(--text-color-primary);
  margin-bottom: 4px;
}

#about p + p {
  margin-top: 12px;
}

ul {
  padding-left: 24px;
}

footer {
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  color: var(--text-color-on-background);
  text-align: center;
}